@use 'variables' as *;
@use 'mixins' as *;
@use 'theme' as *;

a {
    color: var(--text-color);
    text-decoration: none;
    transition: $transition;

    &:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }
}

button {
    @include Button(none, 50px, 40px, 5px);
    // background: var(--button-bg);
    // width: 40px;
    // height: 40px;
    // border: 1px solid var(--border-color);
    // border-radius: 5px;
    // cursor: pointer;
}

.button {
    @include Button(16px, 120px, 40px, 5px);
}

input {
    @include Input(16px, 400px, 40px, 5px);

    &.search {
        padding-left: 40px;
    }
}

.avatar {
    @include Avatar(50px, 50px, 50%);
    background-color: var(--primary-color);
    overflow: hidden;

    .user-picture.small {
        transition: $transition;

        &:hover {
            width: 55px;
            cursor: pointer;
        }
    }

    &.large {
        @include Avatar(300px, 300px, 20%);
        background-color: var(--primary-color);
        overflow: hidden;

        .user-picture.large {
            transition: $transition;

            &:hover {
                width: 400px;
            }
        }
    }
}